
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap");

:root {
  --extra-light: #fefefe;
}
html {
    scroll-behavior: smooth;
  }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  background-image: url("moon.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--extra-light);
}
html, body {
    height: 100%; 
  }
  header {
    position: relative;
    padding: 0 2rem;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

nav {
  height: 80px;
  width: 100%;
  top:0;
  right: 1;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--extra-light);
  position: static;
  color: orange;

}


.nav__links {
  position: absolute;
  right: 0;
  top: 80px;
  width: 100%;
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}

.open {
  display: flex;
}

.nav__links .link {
  color: var(--extra-light);
  text-align: center;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;

}
.nav__links .link a {
  text-decoration: none; 
  color: white;
  display: block;
  font-size: 1.5rem;
}

.nav__links .link:hover {
  background-color: rgb(240, 165, 16);
}

.toggle__btn {
  display: block;
  color: var(--extra-light);
  font-size: 2rem;
}
.exp{
    text-decoration: none; 
    color: white;
    display: block;
    font-size: 1.5rem;
}
.exp:hover {
  background-color: rgb(240, 165, 16);
}

.hero {
  max-width: 1200px;
  height: calc(100vh - 80px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--extra-light);
  z-index: 10;
  position: relative;
}

.hero h2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 3rem;
 
}

.web, .devlp {
    font-size: 6rem;
    font-weight: 700;
    padding: 0;
    line-height: 8rem;
    margin-top: 3rem;
    margin: 0;
  }
  
  .web {
    color: rgb(255, 230, 0);
  }
  
  .devlp {
    color: rgb(251, 176, 0);
  }


.hero button {
  width: 150px;
  padding: 0.75rem;
  margin: 3rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.content {
  padding: 1rem 2rem;
  text-align: center;
  min-height: 100vh;
  font-size: 2rem;
}
.description, .importance {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    padding-top: 5vh;
  }
.description{
    background-image: url("bg1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    color: var(--extra-light);
}
.importance{
    background-image: url("bg2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    color: var(--extra-light); 
}
  .title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 30vh;
    color: rgb(255, 213, 0);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  color: var(--extra-light);
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
}

footer p {
  margin: 0;
}

@media screen and (min-width: 640px) {
  .nav__links {
    width: 250px;
  }

  .hero {
    align-items: flex-start;
  }
}
content{
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}

@media screen and (min-width: 1024px) {
  .nav__links {
    position: unset;
    width: unset;
    flex-direction: row;
    gap: 0.5rem;
    display: flex !important;
    background: transparent;
  }
  .hero {
    align-items: center;
     }

  .toggle__btn {
    display: none;
  }

  .hero h2 {
    font-size: 4rem;
  }

  .hero h1 {
    font-size: 8rem;
  }

  .hero button {
    width: 200px;
    padding: 1rem;
  }
}

